.authors-section {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Default text color white for this section */
}

.authors-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 968px) {
    .authors-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .authors-image {
        height: 400px;
    }
}