.footer {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

.footer-logo h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.footer-copy p {
    opacity: 0.7;
    font-size: 0.9rem;
}